body, html{
  padding: 0;
  margin:0;


}

header{
  background-color: purple;
  
  height: 60px;
  grid-area: header;
}


nav{
  
  grid-area: menu;
  background-color: coral;
}


footer{
background-color: aqua;
height: 80px;
grid-area: footer;
}


article{
  height: 240px;
  
  background-color: beige;
  grid-area: content;
}

#container {
  
  display: grid;
  margin:50px auto 0 auto;
  width: 1200px ;
  background-color: orange;
  grid-template-areas: 
  'header header header header'
  'menu content content content'
  'footer footer footer footer'
  ;
     
  }